*{background-color: #585858;}
a{text-decoration: none; color: white; display: block;}
/*원래 텍스트를 눌러야만 링크가 되는데, display: block; a태그가 들어있는 블록을 눌렀을 때 링크를 태우기 위함. */
*{color: white; text-shadow: 1px 1px 1px #0B0B3B;}
div{box-shadow: 2px 2px 2px #0B0B3B;}
h3{text-shadow: 2px 2px 2px #0B0B3B;}
form{box-shadow: 2px 2px 2px #0B0B3B; height:auto;}
header{height: 70px; border-bottom:1px solid white; box-shadow: 2px 2px 2px #0B0B3B;
		position: fixed; width: 100%; z-index: 9999; top: 0; left: 0;}
		/*헤더는 항상 가장 위에 위치시키기 위해서 z-index 9999 값을 주었습니다.*/
h1{color: white; line-height: 20px; float: left;}
input::placeholder {
  color: white;
  font-style: italic;
}
.menu ul{float: right;}
.menu ul > li{list-style: none; float: left; display: block;}
.menu li > a{text-decoration: none; line-height: 40px; color: white; padding: 0 15px; display: block;}	
.menu li:hover > a{background-color: #1C1C1C; }	
.menu ul ul{display: none;} 
/*평소에 안보이게 display 를 none 으로 설정함.*/
.menu > ul > li:hover > ul {display: block; position: absolute; border: 1px solid white; box-shadow: 2px 2px 2px #0B0B3B;}
/*호버가 적용되면 하위 메뉴가 짠하고 나오게 ㅎㅎ... 포지션 엡솔루트를 빼면 메뉴틀이 깨짐*/
.mainStyle{width: 1170px; margin: 0 auto;}

div.left_part{
	width: 49.5%;
	height: auto;
	float: left;
	border-radius: 10px;
	border: 2px solid white;
	text-align: center;
}
div.right_part{
	width: 49.5%;
	height: auto;
	float: right;
	border-radius: 10px;
	border: 2px solid white;
	text-align: center;
}
div.content{
	width: 80%;
	height: auto;
	margin:0 auto;
	border-radius: 10px;
	border: 2px solid white;
	text-align: center;
}
div.footer{
	width: 100%;
	height: 60px;
	border-radius: 10px;
	border: 2px solid white;
	float: bottom;
	text-align: center;
}
form{
	border: 1px solid white;
	width: 98%;
	box-shadow: 2px 2px 2px #0B0B3B;
	margin: 0 auto;
	margin-bottom: 50px;
}
img{
	display: block;
	margin: auto;
}

@keyframes bomb {
from { font-size : 100%;}
to { font-size : 150%;}
}
b{
animation-name : bomb;
animation-duration : 2s;
animation-iteration-count : 3;
}

table{
align-content: center; border:2px solid white; padding: 5px; width: 80%; 
margin: 0 auto; box-shadow: 2px 2px 2px #0B0B3B;
}

td{text-align: center; vertical-align: middle;}

button{height: 60px; width: 300px; background: #1C1C1C; font-size: 25px;}

#BottenCell{
width: 230px;
height: 330px;
position: fixed;
left: 115px;
top: 135px;
background-color: black;
text-align: center;
	}
#moveBotton1{
width: 200px;
height: 35px;
position: fixed;
left: 130px;
top:200px;
background-color: #FA58AC;
}
	#moveBotton2{
width: 200px;
height: 35px;
position: fixed;
left: 130px;
top:252px;
background-color: #FA58AC;
}
	#moveBotton3{
width: 200px;
height: 35px;
position: fixed;
left: 130px;
top:304px;
background-color: #FA58AC;
}
	#moveBotton4{
width: 200px;
height: 35px;
position: fixed;
left: 130px;
top:356px;
background-color: #FA58AC;
	}
	#moveBotton5{
width: 200px;
height: 35px;
position: fixed;
left: 130px;
background-color: #FA58AC;
top:408px;
}
	a#bottonA{background-color: #FA58AC; display: block; width: 100%; height: 100%; font-size: 19px;}

form.login{
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 400px;
}
fieldset.login{
	height: 500px;
	border: 3px solid white;
}
input.login{
	width: 200px;
	height: 30px;
	/*padding: 20px;*/
	margin-top: 10px;
	}
input[type=submit].login{
	width: 150px;
	height: 40px;
	background-color: green;
	color: white;
	box-shadow: 2px 2px 2px #0B0B3B;
	margin-left: 5px;
}
input[type=button].login{
	width: 100px;
	height: 40px;
	background-color: #6E6E6E;
	color: white;
	box-shadow: 2px 2px 2px #0B0B3B;
}
input[type=text].login{
	border: 1px solid white;
	color: white;
	box-shadow: 2px 2px 2px #0B0B3B;
}
input[type=password].login{
	border: 1px solid white;
	color: white;
	box-shadow: 2px 2px 2px #0B0B3B;
}
button.home{width: 200px;  height: 60px; background-color: gray; box-shadow: 2px 2px 2px #0B0B3B}
hr{box-shadow: 2px 2px 2px #0B0B3B;}
fieldset.signIn1{
	width: 500px;
	margin: 0 auto;
	border-color: white;
	box-shadow: 2px 2px 2px #0B0B3B;
}
fieldset.signIn{
	width: 500px;
	margin: 0 auto;
	border-color: white;
	box-shadow: 2px 2px 2px #0B0B3B;
}
input[type=submit].signIn{
	width: 150px;
	height: 40px;
	background-color: green;
	color: white;
	box-shadow: 2px 2px 2px #0B0B3B;
	margin: 0 auto;
}
textarea.signIn{box-shadow: 2px 2px 2px #0B0B3B;}